<navbar></navbar>

<!-- Main Content -->
<div class="container-fluid top">
  <h1> Images for {{curUser}} </h1>
  <p><b>Select an image to view</b></p>
  <h3> Owned Images: </h3>
  <div class="panel">
    <div *ngIf="ownedImages.length; else noneOwned">
      <ul>
        <li *ngFor="let image of ownedImages; let i=index">
          <a [routerLink]="['/image', image.id]" routerLinkActive="active">{{image.name}}</a>
          <p>{{image.caption}}</p>
        </li>
      </ul>
    </div>
    <ng-template #noneOwned>
      <p><b>You own no images</b></p>
    </ng-template>
  <!-- </div> -->
  <!-- <h3> Viewable Images: </h3>
  <div class="panel">
    <div *ngIf="viewableImages.length; else noViewable">
      <ul>
        <li *ngFor="let image of viewableImages; let i=index">
          <a routerLink="/image" [queryParams]="{id: image.id}" routerLinkActive="active">{{image.name}}</a>
          <p>{{image.caption}}<i>({{image.owner}})</i></p>
        </li>
      </ul>
    </div>
    <ng-template #noViewable>
      <p><b>You have not been invited to view any images</b></p>
    </ng-template> -->

  </div>

</div>
