nav .brand-logo {
	padding-left: 1em;
}
nav ul li{
	padding-right: 1em;
}
nav {
	/*background-color:#00ced1;*/
	background-color:#00bfff;
	height: 63px;
	font-size: 20px;
}

.btn, .btn-large {
    color: white;
    background-color: #1e98c1;
    width: 100px;
    cursor: pointer;
}

.row .col.s12 {
    max-width: 400px;
}

h1 {
	color: #1e98c1;
	font-size: 50px;
}

.collection a.collection-item {
    color: black;
}

h2 {
	color: black;
	font-size: 23px;
}

.btn, .btn-large {
     width: auto; 
 }

.row {
	margin-bottom: 0px;
}

img {
    max-height: 100%;
    max-width: 100%;
    width: auto;
    height: auto;
}