{% extends "base.html" %}
{% block content %}
  <div class="row"><br>
    <div class="col s9">
      <img src="{{image_route}}">
      <ul class="collection with-header">
        <li class="collection-header"><h4>Comments</h4></li>
        {% for comment in comments %}
          <li class="collection-item">{{ comment.comment_string }}<br>By: {{ comment.author }}<br>Posted: {{ comment.timestamp.strftime("%B %d, %Y  %H:%M:%S") }}</li>
        {% endfor %}
      </ul>
      <form method="post" action="{{ url_for('details_blueprint.image_details', image_id=image.id, action=1) }}">
          <input id="add_comment_input" placeholder="New Comment" type="text" name="comment">
          <button class="btn waves-effect waves-light" id="add_comment_submit" type="submit" name="action">Add Comment</button>
      </form>
    </div>
    <div class="col s3">
      <h2>Image {{ image.name }}</h2>
      <p>Caption: {{ image.caption }}</p>
      <p>Uploaded by: {{ image.owner }}</p>
      <p>Uploaded on: {{ image.timestamp.strftime("%B %d, %Y  %H:%M:%S") }}</p>
      {% if owner %}
        <div id=add_viewer_message></div>
        <form id="add_viewer_form">
          <b>Enter username to whom permission to view this image will be granted:</b><br>
          <input id="add_viewer_input" type="text" placeholder="New Viewer" name="new_viewer"><br>
          <input class="btn waves-effect waves-light" id="add_viewer_submit" type="button" value="Add Viewer" onclick="add_viewer()">
        </form>
        <!-- <div id=edit_title_message></div>
          <form id="add_viewer_form">
            <b>Enter username to whom permission to view this image will be granted:<b><br>
            <input id="add_viewer_input" type="text" placeholder="New Viewer" name="new_viewer"><br>
            <input class="btn waves-effect waves-light" id="add_viewer_submit" type="button" value="Add Viewer" onclick="add_viewer()">
          </form> -->
      {% endif %}
    </div>

  </div>

{% endblock %}
