{% extends "base.html" %}
{% block content %}
    <h1>Login</h1>
    {% if error %}
        {% for message in problem %}
            <p class="error">{{message}}</p>
        {% endfor %}
    {% endif %}
    <form method="post" action="{{ url_for('login_blueprint.login_user') }}">
        Username:<br>
        <input id="login_username_input" type="text" name="username"><br>
        Password:<br>
        <input id="login_password_input" type="password" name="password"><br><br>
        <input id="login_submit" type="submit" value="Login">
    </form>
    <form method="get" action="{{ url_for('new_user_blueprint.new_user') }}">
        <input type="submit" value="Create Account" />
    </form>
{% endblock %}
