{% extends "base.html" %}
{% block content %}
    <h1>Images for {{ user.first_name }}</h1>
    <p class="important">
      Select an image to view
    </p>

    <h3>Owned Images</h3>
    {% if owned %}
      <div class="collection">
		    {% for image in owned_images %}
          <a href="{{url_for('details_blueprint.image_details', image_id=image.id)}}" class="collection-item">{{image.name}} &emsp;&emsp;caption: {{image.caption}}</a>
        {% endfor %}
      </div>
    {% else %}
      <p> No owned images </p>
    {% endif %}

    <h3>Viewable Images</h3>
    {% if viewable %}
      <div class="collection">
        {% for image in owned_images %}
          <a href="{{url_for('details_blueprint.image_details', image_id=image.id)}}" class="collection-item">{{image.name}} &emsp;&emsp;caption: {{image.caption}}</a>
        {% endfor %}
      </div>
    {% else %}
    <p> No viewable images </p>
    {% endif %}

{% endblock %}
